{{#each tasks as |task|}}

  <section data-id="{{task.id}}" style="background-color:#00000050;">
    <h5 style="color:#ffffff; font-weight:500;">Title:{{limit task.title 20}}</h5>
    <!-- <p>Description:</p>
    <p>
      {{limit task.description 15}}
    </p> -->
    <h6 style="color:#ffffff; font-weight:500;">Total:</h6>
    <p style="color:#ffffff; font-weight:500;">
      {{#if task.steps.length}}
        {{task.steps.length}}
      {{else}}
        No steps provided yet!
      {{/if}}
    </p>
    <button class="btn btn-primary btnDetails" data-id="{{task.id}}">Details</button>

  </section>

{{/each}}
