{{#each steps as |step|}}
  {{log step}}
  <section data-id="{{step.id}}">
    <h6>Description:</h6>
    <h3>

      {{limit step.name 15}}
    </h3>
    <h6>step color:</h6>
    <p>
      {{#if step.color}}
        {{step.color}}
      {{else}}
        No color provided yet!
      {{/if}}
    </p>
    <p>
      {{#if step.url}}
        {{step.url}}
      {{else}}
        No URL provided yet!
      {{/if}}
    </p>
    <button class="btn btn-primary btnDetails" data-id="{{step.id}}">Update</button>
    <button class="btn btn-danger delete" data-id="{{step.id}}">Remove Task</button>
  </section>

{{/each}}
